@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --bg: #ffffff;
  --card: #ffffff;
  --FavButton: lightpink;
  --text: #ffffff;
  --title: #000000;
  --input-text: #000000;
}

:root.dark {
  --bg: #0b2a4a;
  --card: #38a3ff;
  --FavButton: #0b2a4a;
  --text: #c8f2ff;
  --title: #ffffff;
  --input-text: #c8f2ff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);

  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
.container {
  padding: 28px 20px;
  max-width: 1600px;
  margin: 0 auto;
}
